USE [master]
GO
/****** Object:  Database [Bersonal]    Script Date: 05/11/2024 15:21:54 ******/
CREATE DATABASE [Bersonal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bersonal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bersonal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bersonal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bersonal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bersonal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bersonal]
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 05/11/2024 15:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[FK_usuario_bitacora] [int] NULL,
	[modulo] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
	[dvh] [nvarchar](50) NULL,
 CONSTRAINT [PK_bitacora] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dvv]    Script Date: 05/11/2024 15:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dvv](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dvv] [varchar](100) NULL,
	[nombreTabla] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idioma]    Script Date: 05/11/2024 15:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idioma](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_idioma] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfil]    Script Date: 05/11/2024 15:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_perfil] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfil_permiso]    Script Date: 05/11/2024 15:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil_permiso](
	[Id_Perfil] [int] NOT NULL,
	[Id_Permiso] [int] NOT NULL,
 CONSTRAINT [PK_perfil_permiso] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC,
	[Id_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso]    Script Date: 05/11/2024 15:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso](
	[Nombre] [nvarchar](50) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PermisoAtomico] [int] NULL,
 CONSTRAINT [PK_permiso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso_permiso]    Script Date: 05/11/2024 15:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso_permiso](
	[Id_Permiso_Padre] [int] NOT NULL,
	[Id_Permiso_Hijo] [int] NOT NULL,
 CONSTRAINT [PK_permiso_permiso] PRIMARY KEY CLUSTERED 
(
	[Id_Permiso_Padre] ASC,
	[Id_Permiso_Hijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[traduccion]    Script Date: 05/11/2024 15:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[traduccion](
	[IdiomaId] [int] NOT NULL,
	[Tag] [nvarchar](50) NULL,
	[Texto] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 05/11/2024 15:21:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[contrasena] [nvarchar](150) NOT NULL,
	[dvh] [nvarchar](100) NULL,
	[ID_Perfil] [int] NULL,
	[idiomaId] [int] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bitacora] ON 

INSERT [dbo].[bitacora] ([id], [fecha], [FK_usuario_bitacora], [modulo], [descripcion], [dvh]) VALUES (4224, CAST(N'2024-11-05T12:52:08.000' AS DateTime), 1018, N'Registro', N'Se creó una cuenta', N'896687707')
INSERT [dbo].[bitacora] ([id], [fecha], [FK_usuario_bitacora], [modulo], [descripcion], [dvh]) VALUES (4225, CAST(N'2024-11-05T12:52:13.000' AS DateTime), 1018, N'Inicio de sesión', N'Se inició sesión', N'-1082702626')
INSERT [dbo].[bitacora] ([id], [fecha], [FK_usuario_bitacora], [modulo], [descripcion], [dvh]) VALUES (4226, CAST(N'2024-11-05T12:55:47.000' AS DateTime), 1018, N'Inicio de sesión', N'Se inició sesión', N'786899564')
SET IDENTITY_INSERT [dbo].[bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[dvv] ON 

INSERT [dbo].[dvv] ([id], [dvv], [nombreTabla]) VALUES (7, N'-2034183173', N'usuario')
INSERT [dbo].[dvv] ([id], [dvv], [nombreTabla]) VALUES (8, N'1445821861', N'bitacora')
SET IDENTITY_INSERT [dbo].[dvv] OFF
GO
SET IDENTITY_INSERT [dbo].[idioma] ON 

INSERT [dbo].[idioma] ([Id], [Nombre]) VALUES (1, N'Spanish')
INSERT [dbo].[idioma] ([Id], [Nombre]) VALUES (2, N'English')
SET IDENTITY_INSERT [dbo].[idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[perfil] ON 

INSERT [dbo].[perfil] ([Id], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[perfil] ([Id], [Nombre]) VALUES (2, N'Web Master')
INSERT [dbo].[perfil] ([Id], [Nombre]) VALUES (3, N'Cliente')
SET IDENTITY_INSERT [dbo].[perfil] OFF
GO
INSERT [dbo].[perfil_permiso] ([Id_Perfil], [Id_Permiso]) VALUES (1, 4)
INSERT [dbo].[perfil_permiso] ([Id_Perfil], [Id_Permiso]) VALUES (2, 5)
INSERT [dbo].[perfil_permiso] ([Id_Perfil], [Id_Permiso]) VALUES (1006, 1)
GO
SET IDENTITY_INSERT [dbo].[permiso] ON 

INSERT [dbo].[permiso] ([Nombre], [Id], [PermisoAtomico]) VALUES (N'Ver Bitácora', 1, 1)
INSERT [dbo].[permiso] ([Nombre], [Id], [PermisoAtomico]) VALUES (N'Restaurar y Respaldar Base de Datos', 2, 2)
INSERT [dbo].[permiso] ([Nombre], [Id], [PermisoAtomico]) VALUES (N'Gestionar Usuarios', 3, 3)
SET IDENTITY_INSERT [dbo].[permiso] OFF
GO
INSERT [dbo].[permiso_permiso] ([Id_Permiso_Padre], [Id_Permiso_Hijo]) VALUES (4, 1)
INSERT [dbo].[permiso_permiso] ([Id_Permiso_Padre], [Id_Permiso_Hijo]) VALUES (4, 3)
INSERT [dbo].[permiso_permiso] ([Id_Permiso_Padre], [Id_Permiso_Hijo]) VALUES (4, 1002)
GO
INSERT [dbo].[traduccion] ([IdiomaId], [Tag], [Texto]) VALUES (1, N'Log', N'Bitácora')
INSERT [dbo].[traduccion] ([IdiomaId], [Tag], [Texto]) VALUES (2, N'Log', N'Log')
INSERT [dbo].[traduccion] ([IdiomaId], [Tag], [Texto]) VALUES (1, N'Login', N'Iniciar sesión')
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [nombre], [apellido], [DNI], [email], [contrasena], [dvh], [ID_Perfil], [idiomaId]) VALUES (1018, N'admin', N'admin', 12345678, N'+t7clkZ2Umu/ThS4rgC3Vw==', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', NULL, 1, 1)
INSERT [dbo].[usuario] ([id], [nombre], [apellido], [DNI], [email], [contrasena], [dvh], [ID_Perfil], [idiomaId]) VALUES (1022, N'usertest', N'user', 74125896, N'1hJfgNqgbaZPFTkQ/lmx+w==', N'04f8996da763b7a969b1028ee3007569eaf3a635486ddab211d512c85b9df8fb', NULL, 1007, 1)
INSERT [dbo].[usuario] ([id], [nombre], [apellido], [DNI], [email], [contrasena], [dvh], [ID_Perfil], [idiomaId]) VALUES (1023, N'webmaster', N'webmaster', 44655423, N'hx3soRzQ0O8DjT+JaTPWE1fCPqO+U67BnhjZDwDytNc=', N'8294547e9fe9367f291a22598513d897928d1a0eeb713ca2b41f31977192c5d1', NULL, 2, 1)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
ALTER TABLE [dbo].[bitacora]  WITH CHECK ADD  CONSTRAINT [FK_bitacora_usuario] FOREIGN KEY([FK_usuario_bitacora])
REFERENCES [dbo].[usuario] ([id])
GO
ALTER TABLE [dbo].[bitacora] CHECK CONSTRAINT [FK_bitacora_usuario]
GO
USE [master]
GO
