USE [master]
GO
/****** Object:  Database [Bersonal]    Script Date: 10/31/2025 2:00:00 AM ******/
CREATE DATABASE [Bersonal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bersonal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bersonal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bersonal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bersonal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bersonal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bersonal]
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 10/31/2025 2:00:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[FK_usuario_bitacora] [int] NULL,
	[modulo] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
	[dvh] [nvarchar](100) NULL,
 CONSTRAINT [PK_bitacora] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dvv]    Script Date: 10/31/2025 2:00:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dvv](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dvv] [varchar](100) NULL,
	[nombreTabla] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idioma]    Script Date: 10/31/2025 2:00:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idioma](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_idioma] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfil]    Script Date: 10/31/2025 2:00:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_perfil] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfil_permiso]    Script Date: 10/31/2025 2:00:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil_permiso](
	[Id_Perfil] [int] NOT NULL,
	[Id_Permiso] [int] NOT NULL,
 CONSTRAINT [PK_perfil_permiso] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC,
	[Id_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso]    Script Date: 10/31/2025 2:00:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso](
	[Nombre] [nvarchar](50) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PermisoAtomico] [int] NULL,
 CONSTRAINT [PK_permiso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso_permiso]    Script Date: 10/31/2025 2:00:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso_permiso](
	[Id_Permiso_Padre] [int] NOT NULL,
	[Id_Permiso_Hijo] [int] NOT NULL,
 CONSTRAINT [PK_permiso_permiso] PRIMARY KEY CLUSTERED 
(
	[Id_Permiso_Padre] ASC,
	[Id_Permiso_Hijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[traduccion]    Script Date: 10/31/2025 2:00:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[traduccion](
	[IdiomaId] [int] NOT NULL,
	[Tag] [nvarchar](50) NULL,
	[Texto] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 10/31/2025 2:00:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[contrasena] [nvarchar](150) NOT NULL,
	[dvh] [nvarchar](100) NULL,
	[IdPerfil] [int] NULL,
	[idiomaId] [int] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bitacora] ON 

INSERT [dbo].[bitacora] ([id], [fecha], [FK_usuario_bitacora], [modulo], [descripcion], [dvh]) VALUES (59, CAST(N'2024-07-21T17:27:52.000' AS DateTime), 12, N'Registro', N'Se creó una cuenta', N'0bc009b8d767d59889da559668588a308cbd75dff2b3e06721c28a7bb3b5c8b1')
INSERT [dbo].[bitacora] ([id], [fecha], [FK_usuario_bitacora], [modulo], [descripcion], [dvh]) VALUES (61, CAST(N'2024-07-21T17:28:22.000' AS DateTime), 12, N'Cierre de sesión', N'Se cerró sesión', N'845d98fcbf9557bea194fb06b32f313ca6d92d21d2185d7380e9f488a4db8f64')
INSERT [dbo].[bitacora] ([id], [fecha], [FK_usuario_bitacora], [modulo], [descripcion], [dvh]) VALUES (62, CAST(N'2024-07-21T17:28:41.000' AS DateTime), 13, N'Registro', N'Se creó una cuenta', N'905d516fc044722c9e8c189b7d604b6efa0f2bafb39182decca411f5e51ea009')
SET IDENTITY_INSERT [dbo].[bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[dvv] ON 

INSERT [dbo].[dvv] ([id], [dvv], [nombreTabla]) VALUES (5, N'03e37b07a838e1a14c5711d26fb1995760f710688bb3b87fe972f560e61533a3', N'bitacora')
INSERT [dbo].[dvv] ([id], [dvv], [nombreTabla]) VALUES (6, N'083a2cef84f51509538b9da4182fcc843e9f4707d5dc55a00887e85957aa03ab', N'usuario')
SET IDENTITY_INSERT [dbo].[dvv] OFF
GO
SET IDENTITY_INSERT [dbo].[idioma] ON 

INSERT [dbo].[idioma] ([Id], [Nombre]) VALUES (1, N'Spanish')
INSERT [dbo].[idioma] ([Id], [Nombre]) VALUES (2, N'English')
INSERT [dbo].[idioma] ([Id], [Nombre]) VALUES (3, N'Japones')
SET IDENTITY_INSERT [dbo].[idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[perfil] ON 

INSERT [dbo].[perfil] ([Id], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[perfil] ([Id], [Nombre]) VALUES (2, N'Web Master')
INSERT [dbo].[perfil] ([Id], [Nombre]) VALUES (3, N'Cliente')
SET IDENTITY_INSERT [dbo].[perfil] OFF
GO
INSERT [dbo].[perfil_permiso] ([Id_Perfil], [Id_Permiso]) VALUES (1, 4)
INSERT [dbo].[perfil_permiso] ([Id_Perfil], [Id_Permiso]) VALUES (2, 5)
GO
SET IDENTITY_INSERT [dbo].[permiso] ON 

INSERT [dbo].[permiso] ([Nombre], [Id], [PermisoAtomico]) VALUES (N'Ver Bitácora', 1, 1)
INSERT [dbo].[permiso] ([Nombre], [Id], [PermisoAtomico]) VALUES (N'Restaurar y Respaldar Base de Datos', 2, 2)
INSERT [dbo].[permiso] ([Nombre], [Id], [PermisoAtomico]) VALUES (N'Gestionar Usuarios', 3, 3)
SET IDENTITY_INSERT [dbo].[permiso] OFF
GO
INSERT [dbo].[permiso_permiso] ([Id_Permiso_Padre], [Id_Permiso_Hijo]) VALUES (4, 1)
INSERT [dbo].[permiso_permiso] ([Id_Permiso_Padre], [Id_Permiso_Hijo]) VALUES (4, 3)
INSERT [dbo].[permiso_permiso] ([Id_Permiso_Padre], [Id_Permiso_Hijo]) VALUES (5, 2)
GO
INSERT [dbo].[traduccion] ([IdiomaId], [Tag], [Texto]) VALUES (1, N'Log', N'Bitácora')
INSERT [dbo].[traduccion] ([IdiomaId], [Tag], [Texto]) VALUES (2, N'Log', N'Log')
INSERT [dbo].[traduccion] ([IdiomaId], [Tag], [Texto]) VALUES (1, N'Login', N'Iniciar sesión')
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [nombre], [apellido], [DNI], [email], [contrasena], [dvh], [IdPerfil], [idiomaId]) VALUES (12, N'user', N'user', 12345678, N'1hJfgNqgbaZPFTkQ/lmx+w==', N'04f8996da763b7a969b1028ee3007569eaf3a635486ddab211d512c85b9df8fb', N'8c1d7cf9334d9f63d3becae9c6ab3590721673d48e9467f0bfb3767dc4ec0581', 3, 0)
INSERT [dbo].[usuario] ([id], [nombre], [apellido], [DNI], [email], [contrasena], [dvh], [IdPerfil], [idiomaId]) VALUES (13, N'admin', N'admin', 22222, N'4zyb0ziC5l0IuW1keswzmtjzlII2+ewMoNS8UazgfjI=', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'3c61dfe75ca130cefa3fcbe1e5e0058a31919a0174f34612f29df125c3872f54', 1, 1)
INSERT [dbo].[usuario] ([id], [nombre], [apellido], [DNI], [email], [contrasena], [dvh], [IdPerfil], [idiomaId]) VALUES (14, N'webmaster', N'webmaster', 32165498, N'hx3soRzQ0O8DjT+JaTPWE1fCPqO+U67BnhjZDwDytNc=', N'8294547e9fe9367f291a22598513d897928d1a0eeb713ca2b41f31977192c5d1', N'b1edfc88a3fb9e5b63bdb6316c55a8f37f0ca880877fb44ab7322e0c2c3d4bd3', 2, 1)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
USE [master]
GO
