USE [master]
GO
/****** Object:  Database [Agrominds]    Script Date: 11/27/2025 9:25:27 PM ******/
CREATE DATABASE [Agrominds]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bersonal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bersonal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bersonal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bersonal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Agrominds].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Agrominds]
GO
/****** Object:  User [IIS APPPOOL\agrominds]    Script Date: 11/27/2025 9:25:27 PM ******/
CREATE USER [IIS APPPOOL\agrominds] FOR LOGIN [IIS APPPOOL\agrominds] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\agrominds]
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[FK_usuario_bitacora] [int] NULL,
	[modulo] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
	[dvh] [nvarchar](100) NULL,
 CONSTRAINT [PK_bitacora] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dvv]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dvv](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dvv] [varchar](100) NULL,
	[nombreTabla] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_robot]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_robot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_tarea_robot]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_tarea_robot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idioma]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idioma](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_idioma] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mantenimiento_robot]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mantenimiento_robot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRobot] [int] NOT NULL,
	[IdTipoMantenimiento] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[DuracionHoras] [decimal](5, 2) NULL,
	[CostoEstimado] [decimal](18, 2) NULL,
	[IdUsuarioResponsable] [int] NULL,
	[dvh] [varchar](255) NULL,
	[Cerrado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfil]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_perfil] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfil_permiso]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil_permiso](
	[Id_Perfil] [int] NOT NULL,
	[Id_Permiso] [int] NOT NULL,
 CONSTRAINT [PK_perfil_permiso] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC,
	[Id_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso](
	[Nombre] [nvarchar](50) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PermisoAtomico] [int] NULL,
 CONSTRAINT [PK_permiso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso_permiso]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso_permiso](
	[Id_Permiso_Padre] [int] NOT NULL,
	[Id_Permiso_Hijo] [int] NOT NULL,
 CONSTRAINT [PK_permiso_permiso] PRIMARY KEY CLUSTERED 
(
	[Id_Permiso_Padre] ASC,
	[Id_Permiso_Hijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[robot]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[robot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[NumeroSerie] [varchar](100) NOT NULL,
	[Modelo] [varchar](100) NULL,
	[FirmwareVersion] [varchar](50) NULL,
	[IdEstadoRobot] [int] NOT NULL,
	[Bateria] [int] NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
	[UltimaConexion] [datetime] NULL,
	[Latitud] [decimal](9, 6) NULL,
	[Longitud] [decimal](9, 6) NULL,
	[dvh] [varchar](255) NULL,
	[IdUsuarioResponsable] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarea_robot]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarea_robot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRobot] [int] NOT NULL,
	[IdTipoTarea] [int] NOT NULL,
	[IdEstadoTarea] [int] NOT NULL,
	[FechaProgramada] [datetime] NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[ParametrosJSON] [nvarchar](max) NULL,
	[Observaciones] [varchar](500) NULL,
	[dvh] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[telemetria_robot]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[telemetria_robot](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdRobot] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[NivelBateria] [int] NULL,
	[Temperatura] [decimal](5, 2) NULL,
	[Estado] [varchar](50) NULL,
	[DatosJSON] [nvarchar](max) NULL,
	[dvh] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_mantenimiento_robot]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_mantenimiento_robot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_tarea_robot]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_tarea_robot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[traduccion]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[traduccion](
	[IdiomaId] [int] NOT NULL,
	[Tag] [nvarchar](50) NULL,
	[Texto] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 11/27/2025 9:25:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[contrasena] [nvarchar](150) NOT NULL,
	[dvh] [nvarchar](100) NULL,
	[IdPerfil] [int] NULL,
	[idiomaId] [int] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bitacora] ON 

INSERT [dbo].[bitacora] ([id], [fecha], [FK_usuario_bitacora], [modulo], [descripcion], [dvh]) VALUES (59, CAST(N'2024-07-21T17:27:52.000' AS DateTime), 12, N'Registro', N'Se creó una cuenta', N'0bc009b8d767d59889da559668588a308cbd75dff2b3e06721c28a7bb3b5c8b1')
INSERT [dbo].[bitacora] ([id], [fecha], [FK_usuario_bitacora], [modulo], [descripcion], [dvh]) VALUES (61, CAST(N'2024-07-21T17:28:22.000' AS DateTime), 12, N'Cierre de sesión', N'Se cerró sesión', N'845d98fcbf9557bea194fb06b32f313ca6d92d21d2185d7380e9f488a4db8f64')
INSERT [dbo].[bitacora] ([id], [fecha], [FK_usuario_bitacora], [modulo], [descripcion], [dvh]) VALUES (62, CAST(N'2024-07-21T17:28:41.000' AS DateTime), 13, N'Registro', N'Se creó una cuenta', N'905d516fc044722c9e8c189b7d604b6efa0f2bafb39182decca411f5e51ea009')
GO
SET IDENTITY_INSERT [dbo].[bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[dvv] ON 

INSERT [dbo].[dvv] ([id], [dvv], [nombreTabla]) VALUES (5, N'b4037441ea5d2d07a006455248db8e3bbf271a185fffb83e7bb6a25d125ccef3', N'bitacora')
INSERT [dbo].[dvv] ([id], [dvv], [nombreTabla]) VALUES (6, N'649ae3db914b3e30c2abfa4803db33171d95cc3773f692a6a80f19fa74c47fa3', N'usuario')
INSERT [dbo].[dvv] ([id], [dvv], [nombreTabla]) VALUES (7, N'a40fc07398b5e984bd8d0b321f5408cdbdffcd1163d6b726df4e24d56aabb6d8', N'mantenimiento_robot')
SET IDENTITY_INSERT [dbo].[dvv] OFF
GO
SET IDENTITY_INSERT [dbo].[estado_robot] ON 

INSERT [dbo].[estado_robot] ([Id], [Nombre]) VALUES (1, N'Active')
INSERT [dbo].[estado_robot] ([Id], [Nombre]) VALUES (2, N'In Maintenance')
INSERT [dbo].[estado_robot] ([Id], [Nombre]) VALUES (3, N'Inactive')
SET IDENTITY_INSERT [dbo].[estado_robot] OFF
GO
SET IDENTITY_INSERT [dbo].[estado_tarea_robot] ON 

INSERT [dbo].[estado_tarea_robot] ([Id], [Nombre]) VALUES (1, N'Pending')
INSERT [dbo].[estado_tarea_robot] ([Id], [Nombre]) VALUES (2, N'InProgress')
INSERT [dbo].[estado_tarea_robot] ([Id], [Nombre]) VALUES (3, N'Finished')
SET IDENTITY_INSERT [dbo].[estado_tarea_robot] OFF
GO
SET IDENTITY_INSERT [dbo].[idioma] ON 

INSERT [dbo].[idioma] ([Id], [Nombre]) VALUES (1, N'Spanish')
INSERT [dbo].[idioma] ([Id], [Nombre]) VALUES (2, N'English')
INSERT [dbo].[idioma] ([Id], [Nombre]) VALUES (3, N'Japones')
SET IDENTITY_INSERT [dbo].[idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[mantenimiento_robot] ON 

INSERT [dbo].[mantenimiento_robot] ([Id], [IdRobot], [IdTipoMantenimiento], [Fecha], [Descripcion], [DuracionHoras], [CostoEstimado], [IdUsuarioResponsable], [dvh], [Cerrado]) VALUES (1, 2, 1, CAST(N'2025-11-23T21:08:10.113' AS DateTime), N'Chequeo general post entrega.', CAST(1.50 AS Decimal(5, 2)), CAST(150.00 AS Decimal(18, 2)), 1019, N'e946b5134adba36ed1de928adbd9a24ac3e9cdc266bd71eabcca2a5f6e50bbaa', 1)
INSERT [dbo].[mantenimiento_robot] ([Id], [IdRobot], [IdTipoMantenimiento], [Fecha], [Descripcion], [DuracionHoras], [CostoEstimado], [IdUsuarioResponsable], [dvh], [Cerrado]) VALUES (2, 2, 1, CAST(N'2025-11-25T21:00:00.000' AS DateTime), NULL, CAST(13.00 AS Decimal(5, 2)), CAST(133000.00 AS Decimal(18, 2)), 0, N'341f241a0602b7a2803910bc81c82cb46f63986f8f1c0d52f5c5d8e0d6eeb21f', 1)
INSERT [dbo].[mantenimiento_robot] ([Id], [IdRobot], [IdTipoMantenimiento], [Fecha], [Descripcion], [DuracionHoras], [CostoEstimado], [IdUsuarioResponsable], [dvh], [Cerrado]) VALUES (3, 6, 1, CAST(N'2025-11-26T21:00:00.000' AS DateTime), NULL, CAST(2.00 AS Decimal(5, 2)), CAST(23333.00 AS Decimal(18, 2)), 0, N'b7ce26f0e6e62eb726f9f82ede953a00ca2c7f47259a8be9a1eba901c1950079', 1)
SET IDENTITY_INSERT [dbo].[mantenimiento_robot] OFF
GO
SET IDENTITY_INSERT [dbo].[perfil] ON 

INSERT [dbo].[perfil] ([Id], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[perfil] ([Id], [Nombre]) VALUES (2, N'Web Master')
INSERT [dbo].[perfil] ([Id], [Nombre]) VALUES (6, N'Cliente')
SET IDENTITY_INSERT [dbo].[perfil] OFF
GO
INSERT [dbo].[perfil_permiso] ([Id_Perfil], [Id_Permiso]) VALUES (1, 4)
INSERT [dbo].[perfil_permiso] ([Id_Perfil], [Id_Permiso]) VALUES (2, 5)
INSERT [dbo].[perfil_permiso] ([Id_Perfil], [Id_Permiso]) VALUES (5, 1004)
GO
SET IDENTITY_INSERT [dbo].[permiso] ON 

INSERT [dbo].[permiso] ([Nombre], [Id], [PermisoAtomico]) VALUES (N'Ver Bitácora', 1, 1)
INSERT [dbo].[permiso] ([Nombre], [Id], [PermisoAtomico]) VALUES (N'Restaurar y Respaldar Base de Datos', 2, 2)
INSERT [dbo].[permiso] ([Nombre], [Id], [PermisoAtomico]) VALUES (N'Gestionar Usuarios', 3, 3)
SET IDENTITY_INSERT [dbo].[permiso] OFF
GO
INSERT [dbo].[permiso_permiso] ([Id_Permiso_Padre], [Id_Permiso_Hijo]) VALUES (4, 1)
INSERT [dbo].[permiso_permiso] ([Id_Permiso_Padre], [Id_Permiso_Hijo]) VALUES (4, 3)
INSERT [dbo].[permiso_permiso] ([Id_Permiso_Padre], [Id_Permiso_Hijo]) VALUES (4, 1002)
GO
SET IDENTITY_INSERT [dbo].[robot] ON 

INSERT [dbo].[robot] ([Id], [Nombre], [NumeroSerie], [Modelo], [FirmwareVersion], [IdEstadoRobot], [Bateria], [FechaAlta], [UltimaConexion], [Latitud], [Longitud], [dvh], [IdUsuarioResponsable]) VALUES (2, N'AgroBot 01', N'AGM-0001', N'Modelo A1', N'1.0.0', 3, 40, CAST(N'2025-11-23T21:10:56.200' AS DateTime), CAST(N'2025-11-26T01:32:59.653' AS DateTime), CAST(-34.603700 AS Decimal(9, 6)), CAST(-58.381600 AS Decimal(9, 6)), N'355095f116424bf9acfb33e03da6c3ed155de9365bb4a870a4ac3893b27c227c', 1019)
INSERT [dbo].[robot] ([Id], [Nombre], [NumeroSerie], [Modelo], [FirmwareVersion], [IdEstadoRobot], [Bateria], [FechaAlta], [UltimaConexion], [Latitud], [Longitud], [dvh], [IdUsuarioResponsable]) VALUES (3, N'AgroBot 02', N'AGM-0002', N'Modelo A1', N'1.0.1', 3, 92, CAST(N'2025-11-23T22:07:14.960' AS DateTime), CAST(N'2025-11-26T01:32:59.080' AS DateTime), CAST(-34.605000 AS Decimal(9, 6)), CAST(-58.380000 AS Decimal(9, 6)), N'ad1deb69f91b78a7eaed73c10045123a37d15f8e52a224d68e8786e645ed093c', 1019)
INSERT [dbo].[robot] ([Id], [Nombre], [NumeroSerie], [Modelo], [FirmwareVersion], [IdEstadoRobot], [Bateria], [FechaAlta], [UltimaConexion], [Latitud], [Longitud], [dvh], [IdUsuarioResponsable]) VALUES (4, N'Agrobot 03', N'AGH-003', NULL, NULL, 3, 100, CAST(N'2025-11-26T04:12:42.713' AS DateTime), CAST(N'2025-11-26T01:32:58.647' AS DateTime), CAST(-30.000000 AS Decimal(9, 6)), CAST(25.000000 AS Decimal(9, 6)), N'567abc61aa9531c84d831d31217ede11a3f30fc1d40ecae5ecc2d2aae22a071f', 1019)
SET IDENTITY_INSERT [dbo].[robot] OFF
GO
SET IDENTITY_INSERT [dbo].[tarea_robot] ON 

INSERT [dbo].[tarea_robot] ([Id], [IdRobot], [IdTipoTarea], [IdEstadoTarea], [FechaProgramada], [FechaInicio], [FechaFin], [ParametrosJSON], [Observaciones], [dvh]) VALUES (1, 2, 2, 3, CAST(N'2025-11-25T02:33:00.000' AS DateTime), CAST(N'2025-11-25T02:27:00.000' AS DateTime), CAST(N'2025-11-25T05:36:43.870' AS DateTime), N'{
  "hectareas": 10,
  "modo": "inspeccion"
}', N'Primera cambio de tarea.', N'aba177e321ca71e18ca1ec52c9b0e0c47f6dd882f72c3ef0de919dce14a49cb2')
INSERT [dbo].[tarea_robot] ([Id], [IdRobot], [IdTipoTarea], [IdEstadoTarea], [FechaProgramada], [FechaInicio], [FechaFin], [ParametrosJSON], [Observaciones], [dvh]) VALUES (2, 2, 3, 3, CAST(N'2025-11-26T00:06:00.000' AS DateTime), CAST(N'2025-11-26T00:06:28.353' AS DateTime), CAST(N'2025-11-26T00:10:28.357' AS DateTime), N'', N'Riego', N'e96d7a218a9d4759160f36ac5bb3c64583007913b95863423cc9e31dae0168d4')
INSERT [dbo].[tarea_robot] ([Id], [IdRobot], [IdTipoTarea], [IdEstadoTarea], [FechaProgramada], [FechaInicio], [FechaFin], [ParametrosJSON], [Observaciones], [dvh]) VALUES (3, 6, 2, 1, CAST(N'2025-11-27T20:47:00.000' AS DateTime), NULL, CAST(N'2025-11-29T20:47:00.000' AS DateTime), N'', N'', N'b5673c5290a495f71cb599e4c798418637dcb881e6a73225f3d70a79f24650b9')
SET IDENTITY_INSERT [dbo].[tarea_robot] OFF
GO
SET IDENTITY_INSERT [dbo].[telemetria_robot] ON 

INSERT [dbo].[telemetria_robot] ([Id], [IdRobot], [FechaHora], [NivelBateria], [Temperatura], [Estado], [DatosJSON], [dvh]) VALUES (1, 2, CAST(N'2025-11-23T21:08:10.113' AS DateTime), 85, CAST(36.50 AS Decimal(5, 2)), N'Operativo', N'{"velocidad":1.2,"modo":"idle"}', N'c79c45d60b82e308a77e4cad5c02269da555804d9fffd0ab95ea56aa9166cf0f')
INSERT [dbo].[telemetria_robot] ([Id], [IdRobot], [FechaHora], [NivelBateria], [Temperatura], [Estado], [DatosJSON], [dvh]) VALUES (2, 2, CAST(N'2025-11-26T00:10:28.357' AS DateTime), NULL, NULL, N'TaskFinished', N'{"taskId":2,"finishedAt":"2025-11-26 00:10:28"}', N'a79b5dfc59001cd59c99b43d140687ca61a6b86b022e6b8e47ab00ac8ea91d34')
SET IDENTITY_INSERT [dbo].[telemetria_robot] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_mantenimiento_robot] ON 

INSERT [dbo].[tipo_mantenimiento_robot] ([Id], [Nombre]) VALUES (1, N'Preventivo')
INSERT [dbo].[tipo_mantenimiento_robot] ([Id], [Nombre]) VALUES (2, N'Correctivo')
INSERT [dbo].[tipo_mantenimiento_robot] ([Id], [Nombre]) VALUES (3, N'Calibracion')
SET IDENTITY_INSERT [dbo].[tipo_mantenimiento_robot] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_tarea_robot] ON 

INSERT [dbo].[tipo_tarea_robot] ([Id], [Nombre], [Descripcion]) VALUES (1, N'Riego', N'Riego automatizado')
INSERT [dbo].[tipo_tarea_robot] ([Id], [Nombre], [Descripcion]) VALUES (2, N'Monitoreo', N'Monitoreo de cultivos')
INSERT [dbo].[tipo_tarea_robot] ([Id], [Nombre], [Descripcion]) VALUES (3, N'Siembra', N'Siembra asistida')
SET IDENTITY_INSERT [dbo].[tipo_tarea_robot] OFF
GO
INSERT [dbo].[traduccion] ([IdiomaId], [Tag], [Texto]) VALUES (1, N'Log', N'Bitácora')
INSERT [dbo].[traduccion] ([IdiomaId], [Tag], [Texto]) VALUES (2, N'Log', N'Log')
INSERT [dbo].[traduccion] ([IdiomaId], [Tag], [Texto]) VALUES (1, N'Login', N'Iniciar sesión')
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [nombre], [apellido], [DNI], [email], [contrasena], [dvh], [IdPerfil], [idiomaId]) VALUES (12, N'user', N'user', 111, N'1hJfgNqgbaZPFTkQ/lmx+w==', N'04f8996da763b7a969b1028ee3007569eaf3a635486ddab211d512c85b9df8fb', N'982f59c1312b879d47fada3647d2a839d9d714b7266380c333157ced9065c05b', 3, 0)
INSERT [dbo].[usuario] ([id], [nombre], [apellido], [DNI], [email], [contrasena], [dvh], [IdPerfil], [idiomaId]) VALUES (13, N'admin', N'admin', 22222, N'4zyb0ziC5l0IuW1keswzmtjzlII2+ewMoNS8UazgfjI=', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'3c61dfe75ca130cefa3fcbe1e5e0058a31919a0174f34612f29df125c3872f54', 1, 1)
INSERT [dbo].[usuario] ([id], [nombre], [apellido], [DNI], [email], [contrasena], [dvh], [IdPerfil], [idiomaId]) VALUES (14, N'webmaster', N'webmaster', 32165498, N'hx3soRzQ0O8DjT+JaTPWE1fCPqO+U67BnhjZDwDytNc=', N'8294547e9fe9367f291a22598513d897928d1a0eeb713ca2b41f31977192c5d1', N'b1edfc88a3fb9e5b63bdb6316c55a8f37f0ca880877fb44ab7322e0c2c3d4bd3', 2, 1)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
USE [master]
GO
